html, body{
    font-family: "Segoe UI";
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
}
h2, h4{
    color: #2c3e50;
    padding: 0px;
    margin: 0px;
}
h4{
    margin-top: 4px;
    margin-bottom: 20px;
}
table{
    width: 100%;
    max-width: 900px;
    background: #fff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
th, td{
    border-bottom: 1px solid #add;
    padding: 16px;
    text-align: left;
    font-size: 13px;
}
thead{
    background-color: #2c3e50;
    color: #fff;
}
tbody tr:hover{
    background: #f1f1f1;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: 14px;
    background-color: #2c3e50;
    border-radius: 6px;
    color: white;
    padding: 10px 16px;
    margin: 10px 5px;
    transition: background-color 0.3s ease;
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-top {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.row-bottom {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
a:hover {
    background-color: #111820;
}
a.link{
    all: unset;
    color: #2c3e50;
    text-decoration: underline;
    cursor: pointer;
}
a.link:hover {
    color: #CC0000;
    text-decoration: underline;
}